
.aboutWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 250px;

  & button {
    margin-bottom: 20px;

    a {
      text-decoration: none;
    }
  }
}