button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: transparent;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;
  &.button {
    color: #ffffff;
    border: 1px solid white;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }
  }
  &.dark {
    margin: 20px auto;
    color: black;
    border: 1px solid black;
    &:hover {
      background: #ccc;
      cursor: pointer;
    }
  }
}

.buttonContainer {
  margin: 0 60px;
  text-align: center;
  & button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 2px solid #e3e3e3;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.3s ease;
    & span {
      position: relative;
      z-index: 1;
      color: #ddd;
      transition: 0.3s ease;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      background: #ed2553;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      margin: -15px 0 0 -15px;
      opacity: 0;
      transition: 0.3s ease;
    }
    &:hover, &:active, &:focus {
      border-color: #ed2553;
      span {
        color: #ed2553;
      }
    }
    &:active, &:focus {
      span {
        color: #ffffff;
      }
      &:before {
        opacity: 1;
        transform: scale(10);
      }
    }
  }
}

