.root {
    display: block;
    padding: 20px 0;
    background: #f7f7f7;
    border-bottom: 1px solid grey;
    text-align: center;
    font-size: 30px;
}
.strong {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.disabled {
    cursor: not-allowed;
    opacity: .5;
}