.aboutImgWrap {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  position: relative;
  right: 0;
  & img {
    width: 100%;
  }
}

.aboutWrap__link {
  text-decoration: none;
  font-size: 35px;
  line-height: 50px;
  color: #fff;
  font-weight: 500;
  text-shadow: 0 0 10px #000;
}
.contactsWrap {
  display: flex;
  justify-content: space-around;
  background: url("https://hot-portal.ru/img/stars.png") center/cover;
  padding: 100px 0 250px;
}